.title {
    font-weight: 900;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: rgb(144, 208, 218);
    text-shadow: 1px 2px rgb(240,117,98);
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 5%;
  }